.infoField {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.editableSpan {
    flex-grow: 1;
    margin-right: 4px;
    padding: 4px;
}

.iconSpacing {
    margin-left: 4px;
    padding: 2px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.editIcon,
.saveIcon {
    color: green;
    cursor: pointer;
    margin-left: 4px;
}

.editableSpan.editing {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.center_title {
    text-align: center;
    padding: 16px;
}

.info {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 14pt;
}

.stepper {
    padding: 16px;
}

.analysis {
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
}

.contentWrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollableTable {
    height: 500px;
    overflow-y: auto;
    padding: 0;
    width: 90%;
}

.table {
    border: 2px solid #c7c7c7e1;
    border-collapse: collapse;
    width: 100%;
}

.table thead {
    position: sticky;
    top: -3px;
    background-color: #2f9e41;
}

.table thead th {
    padding: 16px;
    border-bottom: 1px solid #c7c7c7e1;
    text-align: left;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}