.container {
    display: flex;
    height: 50vh;
}

.left,
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    text-align: center;
}

.Button {
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3%;
}