.modalBackground {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

.textareaFeedback {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modalActions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    margin-left: 75px;
    margin-right: 75px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn.green {
    background-color: green;
    color: white;
}

.btn.red {
    background-color: red;
    color: white;
}

.btn.yellow {
    background-color: #ffcc00;
    color: black;
}

.btnSecondary {
    background-color: grey;
    color: white;
}
