{% extends 'base.html' %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-success bg-success text-dark">
      <a class="navbar-brand text-dark" href="#">Aproveitamento e Certificação</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-success bg-success text-dark" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuários</a>
            <div class="dropdown-menu">
                <a class="dropdown-item navbar-success bg-success text-black" href="{% url "estudos:usuario_list" %}">Lista de usuários cadastrados</a>
                <a class="dropdown-item navbar-success bg-success text-black" href="{% url "estudos:usuario_create" %}">Adicionar usuário</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
{% endblock %}