.table {
  width: 100%;
  border-collapse: separate; /* Mudando para 'separate' para permitir bordas arredondadas */
  border-spacing: 0; /* Remove o espaçamento entre as células */
  border: 3px solid #b8b8b8; /* Borda externa mais grossa e escura */
  border-radius: 10px; /* Arredonda as pontas da tabela */
  overflow: hidden; /* Garante que o conteúdo da tabela não ultrapasse os cantos arredondados */
}

.table thead {
  position: sticky;
  top: -3px;
  background-color: #2f9e41;
}

.table thead th {
  padding: 16px;
  border-bottom: 1px solid #c7c7c7e1;
  text-align: left;
}

.table td,
.table th {
  border: 1px solid #b8b8b8; /* Borda externa mais grossa e escura */
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}
